.button-container {
  display: flex;
  justify-content: center;
}
.editor-container{
  padding-top: 0.4%;
}
.active-light {
  background-color: #e1e1e1;
}
.active-dark {
  background-color: #6e717e;
}
.dark {
  background-color: #202124;
  color: white;
}
.light {
  background-color: white;
  color: #202124;
}
button.dark:hover, button.active-dark:hover {
  background-color: #7d808e;
}
button.light:hover, button.active-light:hover {
  background-color: lightgray;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(70, 70, 70);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #afc3d4;
}

input:focus + .slider {
  box-shadow: 0 0 1px #afc3d4;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider-container {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.code {
  text-align: center;
}
.code-mirror-wrapper {
  text-align: start;
}